.section-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.section-card:hover {
    transform: translateY(-10px);
    background-image: linear-gradient(45deg, #A7D8F2, #d1e1e9);
}


.section-card a:hover {
    background-color: #A7D8F2;
}