/**
* Blue: #A7D8F2
* Light Brown: #D8B172
* Brown: #AB8152
* Yellow: #EBE2B1
* White: #EBEBEB
*/
header {
    background-color: #D8B172;
}


header h2 {
    color: #ebebeb;
}

header .bread {
    background-color: #EBE2B1;
}

.search-button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  .search-button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  .search-button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };

body {
    background-color: #ebebeb;
}

.bread {
    width: 100%;
    height: 100%;
    position: relative;
}

.bread::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.1;
    background-image: url(../assets/img/bg.png);
    background-size: 65px 55px;
    background-repeat: repeat-x;
}

body img {
    height: 500px;
    width: 100px;
}

.book {
    margin: auto;
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    perspective: 1400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
}

.cover {
    top: 0;
    background-color: #fbfbfb;
    border: 4px solid #A7D8F2;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

.book p {
    font-weight: bolder;
}

.cover img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover; 
}